<div class="post-banner">
  <h3>
    Get Your Own <br />
    Personal Benchmark
  </h3>
  <p>
    See how you perform against <br />
    your competitors
  </p>
  <form class="post-banner__form" action="#">
      <input type="text" class="button post-banner__input" name="email" value="" placeholder="Enter Email Address" />
      <a href="#" class="button post-banner__submit">Get Benchmark</a>
  </form>
</div>
