<div class="post-banner">

  </form>
  <h3>
    Get Your Own <br />
    Personal Benchmark
  </h3>
  <p>
    See how you perform against <br />
    your competitors
  </p>
  <form class="post-banner__form" action="/request_a_demo/" method="get">
      <input type="text" class="button post-banner__input" name="competitor" placeholder="Enter Competitor's URL" />
      <input type="submit" class="button post-banner__submit" value="Get Benchmark" />
  </form>
</div>
