<div class="nav">
  <a href="{{ @blog.url }} " class="logo">
    <img src="{{ @blog.logo }}" alt="{{ @blog.title }}">
  </a>
  <div class="menu">
    <a href="/product">How It Works</a>
    <a href="/about">About Us</a>
    <a class="active" href="/blog">Blog</a>
    <a href="/about/#contact_us">Contact</a>
    <a href="/request_a_demo">
          Request a Demo
        </a>
  </div>
</div>
