{{!-- <section class="join">
  <div class="row color-gray layoutSingleColumn-lg">
    <div class="medium-12 columns text-center">
      <h2 class="graf--h">Did you enjoy the Article?</h2>
      <p>Never miss another posting,  Join Our mailing list &amp; get all our updates</p>
      <!-- <a href="#" class="button">Join the Rivalfox Mailing List</a> -->
      <input type="email" value="" name="EMAIL" class="required email" placeholder="Join the Rivalfox Mailing List">
      <button type="submit" name="subscribe" class="button"><i class="fa fa-arrow-circle-o-right"></i></button>
    </div>
  </div>
</section> --}}
