<div class="newsletter-panel">
  <div class="row">
    <div class="large-4 large-offset-2 columns">
      <p>Like this post? Get Updates, Subscribe Now!</p>
    </div>
    <div class="large-4 columns end">
      <form class="newsletter-panel__form">
        <div class="row collapse">
          <div class="small-7 columns">
            <input type="text" name="cm-irlkc-irlkc" class="newsletter-panel__email" required="required" placeholder="j.blogs@example.com">
          </div>
          <div class="small-5 columns">
            <a href="#" class="button postfix newsletter-panel__submit">Subscribe</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="newsletter-panel__close">&times;</div>
</div>
