.newsletter-panel {
  background: rgba(0, 166, 212, .9);
  position: fixed;
  bottom: 0;
  left: 0; right: 0;
  transform: translate3d(0, 100%, 0);
  transition: all .4s ease-in-out;
  padding: 26px 0;
}

.newsletter-panel.newsletter-panel--active {
  display: block;
  transform: translate3d(0,0,0);
}

.newsletter-panel p {
  margin-top: 8px;
  margin-bottom: 0;
}

.newsletter-panel input[type="text"] {
  font-size: 16px;
  padding: 1rem;
  height: 3.1125rem;
  margin-bottom: 0;
}

.newsletter-panel p, .newsletter-panel a {
  color: white;
  font-size: 20px !important;
}

.newsletter-panel .postfix.button {
  padding: 6px;
  text-align: center;
  border: 1px solid silver;
  border-left-width: 0;
  height: 50px;
  color: black;
  margin-bottom: 0;
}

.newsletter-panel .postfix.button:hover, .newsletter-panel .postfix.button:focus, .newsletter-panel .postfix.button:active {
  background: white;
  border-color: black;
}

.newsletter-panel__close {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -10px;
  color: white;
  font-weight: bold;
}

.newsletter-panel__close:hover {
  color: white;
  text-decoration: none;
}

@media screen and (max-device-width: 768px) {
  .newsletter-panel {
    padding-top: 0;
  }
  .newsletter-panel__close {
    top: 26px;
    right: 26px;
  }

  .newsletter-panel p {
    margin-bottom: 19px;
  }

  .newsletter-panel .postfix.button {
    height: 47px !important;
    font-size: 17px !important;
  }
}

.menu {
  line-height: 180px;
  height: 50px;
  float: right;
  white-space: nowrap;
  margin: 0;
  padin
}

.menu a {
  margin: 0 1.25em;
  white-space: nowrap;
  text-decoration: none;
  font-size: 22px;
  vertical-align: sub;
}

.menu a:hover:not(.btn), .menu a:focus:not(.btn){
  color: #2EB8E2;
  border-bottom: 4px solid #2EB8E2;
}

.menu a.active {
  border-bottom: 4px solid #2EB8E2;
}

.menu a:last-child {
  padding-right: 0;
}

@media screen and (min-width: 940px) {

  .request-a-demo{
    border: 1px solid #000;
    padding: 1em 1.6em !important;
  }

  .request-a-demo:hover{
    background: #000;
    border: 1px solid #000 !important;
    color: #fff !important;
  }
}

@media screen and (max-width: 1280px) {
  .menu a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px) {
  .menu a {
    font-size: 15px;
    margin: 0 1em;
  }
}
@media screen and (max-width: 940px) {
  .menu {
    margin-top: 40px;
  }

  .menu a {
    font-size: 14px;
    display:block;
    line-height: 1.5em;
  }
}
@media screen and (max-width: 550px) {
  .menu {
    margin-top: 20px;
  }
}
